%btn-base {
    appearance: none;
    border: none;
    outline: none;
    text-decoration: none !important;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

%btn-primary-style {
    background-color: $color--brand-primary;
    border: 1px solid $color--brand-primary-light;
    color: $color--text-light;
    box-shadow: 0px 0px 0px 0px rgba($color--general-black, 0.3);
    transition: box-shadow 0.1s ease;

    &:hover {
        background-color: darken($color--brand-primary, 4%);
        border: 1px solid $color--brand-primary-light;
        box-shadow: 0px 6px 16px -10px rgba($color--general-black, 0.3);
    }

    &:active {
        background-color: darken($color--brand-primary, 7%);
        border: 1px solid $color--brand-primary-light;
        box-shadow: 0px 6px 16px -10px rgba($color--general-black, 0.3);
    }
}

.btn {
    @extend %btn-base;
    @extend %btn-primary-style;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 11px;

    font-weight: $font-weight--semibold;
    font-size: 16px;
    line-height: 28px;

    img {
        width: 28px;
        margin-right: 5px;
        left: -10px;
        position: relative;
    }

}


.btn--med {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;

    font-weight: $font-weight--semibold;
    font-size: 16px;
    line-height: 28px;

    img {
        width: 23px;
        margin-right: 5px;
        left: -10px;
        position: relative;
    }

}


.btn--small {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;

    font-weight: $font-weight--semibold;
    font-size: 14px;
    line-height: 20px;
}

.btn--xsmall {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 3px;

    font-weight: $font-weight--semibold;
    font-size: 13px;
    line-height: 18px;
}


.btn--white {
    // background-color: $white;
    // color: $blue;
}

.btn--black {
    // background-color: $black;
    // color: $white;
}

.btn--grey {
    background-color: $color--panel-contrast-2;
    color: $color--text-primary;
    border: 1px solid transparent;

    &:hover {
        background-color: $color--panel-contrast;
        border: 1px solid transparent;
        color: $color--text-primary;
    }

    &:active {
        background-color: darken($color--panel-contrast, 2%);
        border: 1px solid transparent;
        color: $color--text-primary;
    }
}

.btn--full-width {
    width: 100%;
    text-align: center;
    justify-content: center;
}