.lyrics-editor {

    .ql-toolbar {
        border: none;
        font-family: inherit;
        padding-left: 27px;
        padding-right: 17px;
        background-color: $color--panel-contrast-2;
        border-bottom: 2px solid $color--panel-border;
    }

    .ql-toolbar button {
        height: 30px;
        margin: 0px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        transition: none;
        border-radius: 50%;
        margin-right: 15px;
        outline: none !important;

        svg {
            width: 20px;
            height: auto;
        }

        &:hover {
            background-color: $color--panel-contrast !important;
            color: $color--brand-primary;
        }

        &:active {
            background-color: darken($color--panel-contrast, 5%) !important;
            color: $color--brand-primary;
        }

        &.ql-active {
            background-color: darken($color--panel-contrast, 5%) !important;
            color: $color--brand-primary;
        }
    }

    .ql-container {
        border: none;
        font-family: inherit;
        font-weight: $font-weight--semibold;
        background-color: $color--panel-contrast-2;
        font-size: 16px;
        color: $color--text-primary;
        letter-spacing: 0;
        min-height: 60vh;
        outline: none !important;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .ql-editor {
        padding: 0px;

        p {
            line-height: 1.7;
            font-size: 18px;
        }

        .new-line {
            height: 0px;
            width: 0px;
            margin: 0;
            padding: 0;
        }

        &:before {
            padding-left: 25px;
        }
    }

}
